.course-card {
  width: 100%;
  max-width: 350px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.card-img-container {
  width: 100%;
}

.card-img {
  width: 100%;
  height: 250px;
  object-fit: fit;
}

.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  background-color: #ffffff;
}

.card-content h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.short-description {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: #444;
  overflow: hidden;         /* Evita el desbordamiento */
  text-overflow: ellipsis;  /* Agrega puntos suspensivos si el texto es demasiado largo */
  display: -webkit-box;     
  -webkit-line-clamp: 3;    /* Limita a tres líneas */
  -webkit-box-orient: vertical;
}

.course-info {
  font-size: 0.85rem;
  color: #666;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 20ch;
}

a {
  display: inline-block;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
