/* index.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  /* Estilos del header */
  height: 60px; /* Ajusta según el tamaño del header */
  background-color: #f8f9fa;
}

.main-content {
  flex-grow: 1;
  background-color: #ffffff; /* Opcional: color de fondo del contenido */
  padding: 20px; /* Ajusta el padding según necesites */
}

footer {
  /* Estilos del footer */
  height: 50px; /* Ajusta según el tamaño del footer */
  background-color: #f8f9fa;
}
